@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;900&display=swap');


@import 'components';

/*Glide*/
@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";
@import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";

@font-face {
    font-family: 'Archivo Black';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/ArchivoBlack-Regular.ttf');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/Poppins-Medium.ttf');
}

@font-face {
    font-family: 'Poppins-extraBold';
    font-style: normal;
    font-weight: 600;
    src: url('/assets/fonts/Poppins-ExtraBold.ttf');
}

@font-face {
    font-family: 'Poppins-Bold';
    font-style: normal;
    font-weight: 900;
    src: url('/assets/fonts/Poppins-ExtraBold.ttf');
}

html {
    scroll-behavior: smooth;
}

h1, h2, h3, h4, p, li, button {
    color: #ffffff;
}

p {
    color: #080D26;
    font-family: "Poppins";
    font-weight: 200;
}

h1 {
    font-family: 'Archivo Black';
    font-size: 3rem;
    line-height: 3.5rem;
}

li {
    font-family: 'Poppins';
}

body, html {
    scroll-snap-type: y mandatory;
}

.main-container section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

@layer components {
    .btn-primary {
      @apply flex py-2 px-4 bg-gradient-to-b from-gradient-from to-gradient-to transition-all rounded-lg shadow-md font-poppins text-white;
    }
    .section-title {
        @apply text-7xl font-bold text-text-primary font-archivo-black;
    }
    .section-title-empty {
        @apply text-7xl font-archivo-black;
        -webkit-text-stroke: 2px #080D26;
        color: transparent;
    }
    .subsection-title {
        @apply text-4xl font-bold text-text-primary font-archivo-black;
    }
    .subsection-title-empty {
        @apply text-6xl font-archivo-black;
        -webkit-text-stroke: 2px #080D26;
        color: transparent;
    }
    .text-white-stroke {
        -webkit-text-stroke: 2px #ffffff;
    }

    /*Dialog*/
        dialog {
            pointer-events: none;
            opacity: 0;
            transition: opacity 0.4s;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        dialog[open] {
            opacity: 1;
            pointer-events: inherit;
        }
        dialog::backdrop {
            background-color: rgba(0,0,255, 0.2);
        }
}

.icon-border {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    border: 0;
    box-sizing: border-box;

    border-radius: 100%;
    font-size: inherit;
    font-weight: 700;
    vertical-align: middle;
    transition: transform 0.3s ease;
}

.icon-border::after, .icon-border::before {
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    top: 0;
    left: 0;
}

.icon-border::before {
    border: 2px solid transparent;
}

.icon-border:hover::before {
    border-top-color: #5a0220;
    border-right-color: #5a0220;
    border-bottom-color: #5a0220;

    transition:
      border-top-color 0.15s linear,
      border-right-color 0.15s linear 0.10s,
      border-bottom-color 0.15s linear 0.20s;
}

.icon-border::after {
    border: 0 solid transparent;
}

.icon-border:hover::after {
    border-top: 2px solid #5a0220;
    border-left-width: 2px;
    border-right-width: 2px;
    transform: rotate(270deg);
    transition:
      transform 0.3s linear 0s,
      border-left-width 0s linear 0.35s;
}

// How works styles
.selected-icon svg {
    path, line {
        stroke: #5a0220;
        fill: #5a0220;
    }
}

//Scroll bar

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #80808021;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #5a0220;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: black;
}